#gridp {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, transparent 25%, #710071 50%); /*type, color, radius, feathering (1.0=100% opacity), X, -Y*/;
    -fx-border-width: 7;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, #333333 50%);
    -fx-alignment: center;
}
/*
Label {
   
    -fx-text-fill: slateblue;
    -fx-font: italic 16px Tahoma;
}
*/
.fancytextp1{
   -fx-text-fill: slateblue;
   -fx-font: italic 16px Tahoma;
}

.fancytextp2{
   -fx-text-fill: forestgreen;
   -fx-font: italic 16px Tahoma;
}

.thisbuttonissofancy{
    -fx-font: bold italic 20pt Tahoma;
    -fx-effect: dropshadow( one-pass-box , purple , 8 , 0.0 , 2 , 3 ); /*type, color, radius, feathering (1.0=100% opacity), X, -Y*/
    -fx-background-color: #333333;
    -fx-text-fill: white;
}