/*
    This is a Cascading Style sheet for our FXML file. It keeps everything
    nice and organized.
*/


#gridp {
    -fx-border-style: solid;
    -fx-border-color: linear-gradient(from 0% 0% to 100% 200%, repeat, transparent 25%, #710071 50%); /*type, color, radius, feathering (1.0=100% opacity), X, -Y*/;
    -fx-border-width: 7;
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, black 0%, #333333 50%);
    -fx-alignment: center;
}
/*
This is commented out to preserve individual styles across multiple lines of text as needed.
Label {
   
    -fx-text-fill: slateblue;
    -fx-font: italic 16px Tahoma;
}
*/
.fancytextp1{
   -fx-text-fill: slateblue;
   -fx-font: italic 16px Tahoma;
}

.fancytextp2{
   -fx-text-fill: #d16800;
   -fx-font: italic 16px Tahoma;
}

.thisbuttonissofancy{
    -fx-font: bold italic 20pt Tahoma;
    -fx-effect: dropshadow( one-pass-box , #cc33ff , 8 , 0.0 , 2 , 3 );
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #333333 30%, black 60%);
    -fx-text-fill: white;
}

.thisbuttonissofancy:hover{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, #333333 30%, #111111 60%);
    -fx-effect: dropshadow( one-pass-box , #cc00ff , 8 , 0.0 , 2 , 3 );
}

.thisbuttonissofancy:armed{
    -fx-background-color: linear-gradient(from 0% 0% to 100% 200%, repeat, black 20%, #333333 60%);
    -fx-effect: dropshadow( one-pass-box , #cc00ff , 8 , 0.0 , 2 , 3 );
}